name: Go

on:
  push:
    branches:
  pull_request:
    branches:
  workflow_dispatch:

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.16
    - name: Download Modules
      run: go get

    - name: Build
      run: go build -v

    - name: Test
      run: go test ./internal/... -v
